@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 240, 240);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
:root {
    --white-color: white;
    --black-color: black;
    --orange-color: orange;
    --orangered-color: orangered;
    --about-bg-color: rgba(255, 68, 0, 0.208);
    --contact-bg-color: #ff880073;
}
.toggle_container {
    
}
#toggle_text {
    color: var(--orange-color);
    font-size: 1rem;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    height: 70px;
    box-shadow: 0 0 1rem ;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--black-color);
}
.logo {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    animation: smothlogo 4s ease;
    text-transform: capitalize;
    font-style: italic;
}
.logo h2, h1 {
    color: var(--white-color);
}
.nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.3rem;
    font-size: 1.3rem;
    flex-direction: row;
}
.bold{
    color: var(--orange-color);
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--orange-color);
    font-weight: 650;
    transition: color 0.4s ease-in-out;
    text-transform: uppercase;
}
.nav-bar ul li a:hover {
    color: var(--white-color);
    transform: scale(1.3);
}
.hum__bar {
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
    color: var(--white-color);
    animation: smothhum 4s ease;
}
.projects_detail {
    margin: auto;
    margin-block: 1,3rem;
    max-width: 90%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 1rem;
}
.disciption_container > h1 {
    color: var(--black-color);
}
.title {
    opacity: .4;
}
#project_filter {
    padding: .3rem 1rem;
    outline: none;
    border: none;
    border-radius: .3rem;
    box-shadow: 0 0 12px rgba(0, 68, 0, 0.208);
    cursor: pointer;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 560;
    color: var(--orange-color);
    background-color: var(--black-color);
}
footer {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 1rem;
    text-align: center;
    height: 50px;
}
a[href="#first_project"] {
    text-decoration: none;
}
a {
    color: rgb(48, 72, 72);
}
img {
    width: 150px;
}
.projects_here {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.project {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 210px;
    box-shadow: 0 0 1.5rem rgba(0, 68, 0, 0.1);
    margin-block: 1rem;
    border-radius: .6rem;
    position: relative;
    padding: 1rem .2rem;
    margin-inline: 1rem;
    transition: all .25s ease;
}
.heading {
    border-bottom: orange solid 3px;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    left: 160px;
}
.how_it_made {
    line-height: 1.3rem;
    text-align: left;
    position: absolute;
    left: 160px;
    top: 30px;
    font-weight: 560;
    font-size: .8rem;
    opacity: .6;
}
.how_it_made > a {
   display: block;
   margin-block: .4rem;
   font-size: .8rem;
}
#code {
   position: absolute;
   right: 20px;
   bottom: .6rem; 
}
.image {
    height: 100%;
}
.image img {
   height: 100%;
   object-fit: cover;
   border-radius: .6rem;
}
/* for toggle Button */
body.active {
    background-color: var(--black-color);
    color: var(--white-color);
}
header.active {
    background-color: var(--white-color);
    color: var(--black-color);
    box-shadow: 0 0 1rem rgba(0, 68, 0, 0.208);
    padding: .5rem 2rem;
}
.logo h2.active, h1.active {
    color: var(--black-color);
}
.hum__bar.active {
    color: var(--black-color);
}
.project.active {
    background-color: rgba(80, 79, 79, 0.404);
    color: var(--white-color);
    box-shadow: 0 0 1rem rgba(245, 240, 240, .3);
}
.heading.active {
    color: var(--white-color);
}
.how_it_made.active {
    opacity: 1;
}
#project_filter.active {
    background-color: var(--white-color);
    color: var(--orangered-color);
}
a.active {
    color: aquamarine;
}
footer.active {
    background-color: var(--white-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.404);
    color: black;
}
/* for toggle Button closed */
@media (max-width: 604px) {
    .nav-bar ul{
        display: none;
    }
    .toggle_container.active {
        display: block;
    }
    #toggle_text {
        color: black;
    }
    .nav-bar ul.active{    
      display: flex;
      flex-direction: column;
      position: absolute;
      padding: 1rem .5rem;
      text-align: center;
      top: 55px;
      right: 50px;
      z-index: 10;
      background-color: var(--white-color);
      color: var(--black-color);
      border-radius: .8rem;
      transition: all .5s ease;
    }
    .nav-bar ul li a:hover {
        color: var(--black-color);
    }
    .hum__bar {
        display: block;
        transition: all .5s ease;
    }
    .hum__bar:active {
        transform: scale(.9);
    }
    .title {
        font-size: 1rem;
    }
    #project_filter {
        font-size: .7rem;
        text-align: center;
    }
    #project_filter option {
        font-size: .7rem;
        text-align: left;
        font-weight: 700;
        font-family: "Poppins", sans-serif;
    }
    .project {
       width: 400px;
       height: 380px;
       margin-block: 2rem;
       display: block;
       flex-direction: column;
       padding-top: 0;
    }
    .project p {
        padding-inline-start: .5rem;
        font-family: "Poppins", sans-serif;
    }
    .heading, .how_it_made, #code {
        position: static;
    }
    .heading {
        font-size: 1rem;
        text-align: center;
    }
    .image {
        width: 400px;
        height: 40%;
        margin-top: 0;
    }
    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #code{
        display: none;
    }
}
@media  (min-width: 605px) {
    @keyframes popup {
        from {
            transform: translateY(0);
        }
        to {
        }
    }
    .project:hover{
        transform: translateY(-15px);
        /* animation: popup .45s ease; */
    }
}