@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}
:root {
    --white-color: white;
    --black-color: black;
    --orange-color: orange;
    --orangered-color: orangered;
    --about-bg-color: rgba(255, 68, 0, 0.208);
    --contact-bg-color: #ff880073;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 10%;
    box-shadow: 0 0 1rem ;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--white-color);
}
.logo {
    display: flex;
    gap: 0.7rem;
    align-items: center;
    animation: smothlogo 4s ease;
}
@keyframes smothlogo {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 1.3rem;
    font-size: 1.3rem;
    flex-direction: row;
}
.bold {
    color: var(--orange-color);
    font-weight: 600;
}
.nav-bar ul li a{
    text-decoration: none;
    color: var(--orangered-color);
    font-weight: 650;
    transition: color 0.4s ease-in-out;
    text-transform: uppercase;
}
.nav-bar ul li a:hover {
    color: var(--orange-color);
    transform: scale(1.3);
}
.hum__bar {
    font-size: 1.7rem;
    cursor: pointer;
    display: none;
    animation: smothhum 4s ease;
}
@keyframes smothhum {
    from{
        transform: scale(.7);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
#home {
    background-color: var(--black-color);
    display: flex;
    color: var(--white-color);
    justify-content: space-evenly;
    overflow: hidden;
    padding: 6rem;
    /* filter: blur(10px); */
}
.discription {
    text-align: center;
    width: 50%;
    padding: 2rem;
}
.discribe-myself {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    animation: smothscale 2s alternate ease-in-out;
}
@keyframes smothscale {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.discrip-my-job {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    animation: smothscalepar 5s alternate ease-in-out;
}
@keyframes smothscalepar {
     from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.for__my-project {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0.4rem 2rem;
    margin-top: 1.4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--orange-color);
    color: var(--white-color);
    cursor: pointer;
    animation: smothscalebtn 5s alternate ease;
    transition: background-color .4s ease-in-out, transform .4s ease-in-out;
}
@keyframes smothscalebtn {
     from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.for__my-project:hover {
    background-color: var(--orangered-color);
    color: var(--white-color);
}
.for__my-project:active {
    transform: scale(1.07);
}
.image-section {
    border: 2px solid var(--white-color);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    animation: smothscaleimg 4s alternate ease;
}
@keyframes smothscaleimg {
    from {
        transform: translateX(100px);
        opacity: 0.5;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
#hero__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index: -1;
    transform: scale(1.03);
    transition: transform .5s ease-in-out;
    cursor: pointer;
}
#hero__img:hover {
    transform: scale(1.1);
}
#about {
    padding: 4rem;
    background-color: var(--about-bg-color);
    color: var(--black-color);
    text-align: center;
    line-height: 1.7;
}
.title {
    padding: 1rem;
    text-transform: uppercase;
}
.more {
    text-decoration: none;
    color: rgba(117, 196, 14, 0.559);
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
}
.abot__me, .list__skill, .about__myself {
    margin-top: .7rem;
    animation: smothscalepar 5s alternate ease-in-out;
}
.skills {
    padding-left: 1rem;
}
.cv { 
    font-size: 1.1rem;
    padding: 0.4rem 2rem;
    margin-top: 1.4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--orange-color);
    color: var(--white-color);
    cursor: pointer;
    animation: smothscalebtn 5s alternate ease;
    transition: background-color .4s ease-in-out, transform .4s ease-in-out;
}
.cv:hover {
    background-color: var(--orangered-color);
    color: var(--white-color);
}
.cv:active {
    transform: scale(1.07);
}
#projects {
    padding: 4rem;
}
.title {
    text-align: center;
    padding: 2rem;
}
.projects__boxs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    background-color: var(--white-color);
}
.box {
    border: 2px solid black;
    border-radius: .4rem;
    height: 350px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
    background-color: var(--white-color);
}
.box:hover {
    animation: scale 1.5s ease-in-out alternate;
}
@keyframes scale {
    from{
        transform: translateY(0);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
    }
    to {
        transform: translateY(-20px);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.638);
    }
}
.box img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}
.box .apps_title {
    color: var(--orange-color);
    text-align: center;
    text-transform: uppercase;
}
.box > a {
    display: inline-block;
    position: relative;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    border: 1px solid var(--black-color);
    padding: 0.2rem 2rem;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 650;
    background-color: var(--orangered-color);
    color: var(--white-color);
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.338);
}
.box > a:hover {
    background-color: var(--orange-color);
    color: var(--black-color);
}
#contact {
    padding: 4rem;
    background-color: var(--contact-bg-color);
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: smothscalepar 5s alternate ease-in-out;
}
#message, .inputs > input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.inputs > input {
    border: none;
    outline: none;
    background-color: var(--white-color);
    padding: .6rem 1rem;
    border-radius: 0.4rem;
    text-transform: capitalize;
    max-width: 400px;
}
#message {
    max-width: 400px;
    height: 100px;
    border-radius: .3rem;
    outline: none;
    padding: .6rem .5rem;
    text-transform: capitalize;
}
#send__btn{
    display: inline-block;
    font-size: 1.1rem;
    padding: 0.4rem 2rem;
    width: 200px;
    margin-top: 1.4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--orange-color);
    color: var(--white-color);
    cursor: pointer;
    font-weight: 600;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    animation: smothscalesebtn 5s alternate ease-in-out;
    transition: background-color .4s ease-in-out, transform .4s ease-in-out;
}
@keyframes smothscalesebtn {
    from {
        transform: translateX(-50%) translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}
#send__btn:hover {
    background-color: var(--orangered-color);
    color: var(--white-color);
}
#send__btn:active {
    transform: translateX(-50%) scale(1.07);
}
footer {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 2rem;
    text-align: center;
}
.footer__title {
    animation: smothscaleimg 4s ease;
}

/* for mobile size screen */
@media screen and (max-width: 500px) {
    .nav-bar ul {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100px;
        z-index: 100;
        right: 20px;
        background-color: var(--white-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.441);
        padding: 2rem;
        border-radius: .7rem;
    }
     .nav-bar ul.active {
        display: flex;
    }
    .hum__bar {
        display: block;
    }
    #home {
        flex-direction: column;
    }
    .discription {
        width: 100%;
    }
    .image-section {
        left: 50%;
        transform: translateX(-50%);
    }
}
/* for midium size screen */
@media (max-width: 800px) and (min-width: 501px) {
     .nav-bar ul {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100px;
        z-index: 100;
        right: 20px;
        background-color: var(--white-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.441);
        padding: 2rem;
        border-radius: .7rem;
    }
    .nav-bar ul.active {
        display: flex;
    }
    .hum__bar {
        display: block;
    }
    .discription {
        width: 100%;
        margin-left: -6rem;
    }
}
/* for big screen size */
@media screen and (min-width: 801px) {
    .nav-bar ul li:nth-child(even) {
       animation: smoothup 4s ease alternate;
}
    .nav-bar ul li:nth-child(odd) {
       animation: smoothdown 4s ease alternate;
}
@keyframes smoothup {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes smoothdown {
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
}